@model Wedding
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> @Model.W1 and @Model.W2 's Wedding</h1>
    <a href="/logout"> Log Out</a>
    <a href="/Dashboard/@ViewBag.Id">Dashboard</a>
    <h3> Guests: </h3>
    
        @for(int i = 0; i < @Model.Guests.Count; i ++){
            <p> @Model.Guests[i].Guests </p>
        }
        
    

    
    

</body>
</html>